* {
    font-family: Arial, sans-serif;
  }
  
  
  table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    font-family:Georgia, 'Times New Roman', Times, serif;      
  }
  body{
    background-color: lightyellow;
  }
  h1 {
    color: brown;  
    font-family:'STIX Two Math', serif;
  }
   div h2 {
     color: darksalmon;
    font-family: Arial, Helvetica, sans-serif;

  }
   div h5 {color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}


    p {
      color:darkturquoise;
      font-family: Helvetica Georgia, 'Times New Roman', Times, serif;
    }

    fieldset{
      border-radius: 25px;
      background-color:darksalmon;
      padding: 20px;
      width: 50.6%;
      height: 220px;
      display:inline-block;
    }

label{
  color: brown;
}
nav input {
color: brown;
background-color: lightcyan;
font-family: fantasy;
height: 40px;
width: 90px;
}
#shop{
  color: brown;
  background-color: lightpink;
  width:50.6%;
  border-radius: 25px;
  border: 2px solid ;
  padding: 20px;
  height: 200px;
}
#reem{
  background-color:lightcyan;
}

